{% extends "::base.html.twig" %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="three wide column">
                <div class="ui segment ops tutorial" data-tutorial-step="1" data-tutorial-step-position="right center" data-tutorial-step-title="Step 1" data-tutorial-step-content="Add new operations to your budget.">
                    <div class="ui accordion">
                        <div class="active title"><i class="dropdown icon"></i> Revenues</div>
                        <div class="active content">
                            <div class="ui list">
                                <div class="item">
                                    <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/veronika.jpg">
                                    <div class="content">
                                        <a class="header">Salary</a>
                                        <div class="description">My biweekly salary</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui primary mini button"><i class="plus icon"></i> Add new operation</div>
                        </div>
                        <div class="title"><i class="dropdown icon"></i> Expenses</div>
                        <div class="content">
                            <div class="ui list">
                                <div class="item">
                                    <img class="ui avatar image" src="http://semantic-ui.com/images/avatar2/small/rachel.png">
                                    <div class="content">
                                        <a class="header">Car insurance</a>
                                        <div class="description">La Capitale</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img class="ui avatar image" src="http://semantic-ui.com/images/avatar2/small/rachel.png">
                                    <div class="content">
                                        <a class="header">Cell phone</a>
                                        <div class="description">Virgin Mobile</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img class="ui avatar image" src="http://semantic-ui.com/images/avatar2/small/matthew.png">
                                    <div class="content">
                                        <a class="header">Internet</a>
                                        <div class="description">Teksavvy</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui primary mini button"><i class="plus icon"></i> Add new operation</div>
                        </div>
                        <div class="title"><i class="dropdown icon"></i> Savings</div>
                        <div class="content">
                            <p>No operations.</p>
                            <div class="ui primary mini button"><i class="plus icon"></i> Add new operation</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thirteen wide column">
                <div class="ui segment">
                    <div class="ui padded grid">
                        <div class="row">
                            <div class="sixteen wide center aligned column">
                                <form class="ui form">
                                    <div class="ui pagination menu calendar-nav">
                                        <a class="icon item" data-content="{{ 'Previous year'|trans }}" href="{{ path('budget_calendar', {year: calendar.previousYear.format('Y'), month: calendar.previousYear.format('m')}) }}"><i class="angle double left icon"></i></a>
                                        <a class="icon item" data-content="{{ 'Previous month'|trans }}" href="{{ path('budget_calendar', {year: calendar.previousMonth.format('Y'), month: calendar.previousMonth.format('m')}) }}"><i class="angle left icon"></i></a>
                                        <a class="item" href="{{ path('budget_calendar') }}">Today</a>
                                        <a class="item dropdown">
                                            <select name="month">
                                                {% set months = [
                                                    'Jan'|trans,'Feb'|trans,'Mar'|trans,'Apr'|trans,'May'|trans,'Jun'|trans,
                                                    'Jul'|trans,'Aug'|trans,'Sep'|trans,'Oct'|trans,'Nov'|trans,'Dec'|trans,
                                                ] %}
                                                {% for month in range(1, 12) %}
                                                    <option value="{{ "%02d"|format(month) }}"{% if month == calendar.date.format('m') %} selected="selected"{% endif %}>{{ months[month - 1] }}</option>
                                                {% endfor %}
                                            </select>
                                        </a>
                                        <a class="item dropdown">
                                            <select name="year">
                                                {% for year in range(calendar.date.format('Y') - 5, calendar.date.format('Y') + 5) %}
                                                    <option value="{{ year }}"{% if year == calendar.date.format('Y') %} selected="selected"{% endif %}>{{ year }}</option>
                                                {% endfor %}
                                            </select>
                                        </a>
                                        <a class="icon item" data-content="{{ 'Next month'|trans }}" href="{{ path('budget_calendar', {year: calendar.nextMonth.format('Y'), month: calendar.nextMonth.format('m')}) }}"><i class="angle right icon"></i></a>
                                        <a class="icon item" data-content="{{ 'Next year'|trans }}" href="{{ path('budget_calendar', {year: calendar.nextYear.format('Y'), month: calendar.nextYear.format('m')}) }}"><i class="angle double right icon"></i></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="sixteen wide column">
                                <div class="ui grid calendar">
                                    <div class="seven column row equal height days-header">
                                        <div class="column">{{ 'Sun'|trans }}</div>
                                        <div class="column">{{ 'Mon'|trans }}</div>
                                        <div class="column">{{ 'Tue'|trans }}</div>
                                        <div class="column">{{ 'Wed'|trans }}</div>
                                        <div class="column">{{ 'Thu'|trans }}</div>
                                        <div class="column">{{ 'Fri'|trans }}</div>
                                        <div class="column">{{ 'Sat'|trans }}</div>
                                    </div>
                                    <div class="seven column week row equal height">
                                        {% set count = 0 %}
                                        {% for date, day in calendar.getData %}
                                            {% set isCurrentMonth = day.date.format('m') == calendar.getDate.format('m') %}
                                            {% set isWeekendDay = day.date.format('w') == 0 or day.date.format('w') == 6 %}
                                            {% set isToday = day.date.format('Y-m-d') == calendar.getToday.format('Y-m-d') %}
                                            {% if count % 7 == 0 %}
                                            </div>
                                            <div class="seven column week row equal height">
                                            {% endif %}
                                            <div class="column day 
                                                 {% if isCurrentMonth %} current-month{% else %}other-month{% endif %}
                                                 {% if isWeekendDay %} weekend-day{% endif %} 
                                                 {% if isToday %} current-day{% endif %}
                                                 ">
                                                {% if isCurrentMonth %}
                                                    <div class="options">
                                                        <div class="ui icon mini button tutorial"><i class="plus icon"></i></div>
                                                        <div class="ui icon mini button"><i class="line chart icon"></i></div>
                                                    </div>
                                                {% endif %}
                                                <div class="date">{{ day.date.format('j') }}</div>
                                                {% if day.operations|length > 0 or isToday %}
                                                    <div class="operations">
                                                        <div class="ui list">
                                                            {% for op in day.operations %}
                                                            <div class="item">
                                                                <img class="ui avatar image" src="{{ op.avatar }}">
                                                                <div class="content">
                                                                    <a class="header">{{ op.name }}</a>
                                                                    <div class="description">{{ op.amount|localizedcurrency(app.user.getCurrency, app.user.getLocale) }}</div>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                            <div class="item">
                                                                <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/veronika.jpg">
                                                                <div class="content">
                                                                    <a class="header">Salary</a>
                                                                    <div class="description">1,500 $</div>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <img class="ui avatar image" src="http://semantic-ui.com/images/avatar2/small/rachel.png">
                                                                <div class="content">
                                                                    <a class="header">Car insurance</a>
                                                                    <div class="description">1,500 $</div>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <img class="ui avatar image" src="http://semantic-ui.com/images/avatar2/small/matthew.png">
                                                                <div class="content">
                                                                    <a class="header">Cell phone</a>
                                                                    <div class="description">1,500 $</div>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/jenny.jpg">
                                                                <div class="content">
                                                                    <a class="header">Internet</a>
                                                                    <div class="description">1,500 $</div>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <img class="ui avatar image" src="http://semantic-ui.com/images/avatar2/small/rachel.png">
                                                                <div class="content">
                                                                    <a class="header">Internet</a>
                                                                    <div class="description">1,500 $</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            {% set count = count + 1 %}
                                        {% endfor %}
                                    </div>
                                    <!--
                                    <div class="seven column week row equal height">
                                        <div class="column day other-month weekend-day">31</div>
                                        <div class="column day current-month">
                                            <div class="date">1</div>
                                            <div class="operations">
                                                <div class="ui list">
                                                    <div class="item">
                                                        <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/veronika.jpg">
                                                        <div class="content">
                                                            <a class="header">Salary</a>
                                                            <div class="description">1,500 $</div>
                                                        </div>
                                                    </div>
                                                    <div class="item">
                                                        <img class="ui avatar image" src="http://semantic-ui.com/images/avatar2/small/rachel.png">
                                                        <div class="content">
                                                            <a class="header">Car insurance</a>
                                                            <div class="description">1,500 $</div>
                                                        </div>
                                                    </div>
                                                    <div class="item">
                                                        <img class="ui avatar image" src="http://semantic-ui.com/images/avatar2/small/matthew.png">
                                                        <div class="content">
                                                            <a class="header">Cell phone</a>
                                                            <div class="description">1,500 $</div>
                                                        </div>
                                                    </div>
                                                    <div class="item">
                                                        <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/jenny.jpg">
                                                        <div class="content">
                                                            <a class="header">Internet</a>
                                                            <div class="description">1,500 $</div>
                                                        </div>
                                                    </div>
                                                    <div class="item">
                                                        <img class="ui avatar image" src="http://semantic-ui.com/images/avatar2/small/rachel.png">
                                                        <div class="content">
                                                            <a class="header">Internet</a>
                                                            <div class="description">1,500 $</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="options">
                                                <div class="ui icon mini button tutorial" data-tutorial-step="2" data-tutorial-step-position="bottom center" data-tutorial-step-title="Step 2" data-tutorial-step-content="You can also add new operations directly on your calendar for a specific day."><i class="plus icon"></i></div>
                                                <div class="ui icon mini button"><i class="line chart icon"></i></div>
                                            </div>
                                        </div>
                                        <div class="column day current-month">2</div>
                                        <div class="column day current-month">3</div>
                                        <div class="column day current-month">4</div>
                                        <div class="column day current-month">5</div>
                                        <div class="column day current-month weekend-day">6</div>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="four wide column">
                                <table class="ui striped table">
                                    <thead>
                                        <tr>
                                            <th>June 2015</th>
                                            <th class="right aligned"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="center aligned">
                                            <td>Previous balance</td>
                                            <td class="right aligned positive">1,671.26 $</td>
                                        </tr>
                                        <tr>
                                            <td>Balance variation</td>
                                            <td class="right aligned negative">-26.02 $</td>
                                        </tr>
                                        <tr>
                                            <td>Closing balance</td>
                                            <td class="right aligned positive">1,697.28 $</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <div class="ui primary mini button">Adjust closing balance</div>
                                </div>
                            </div>
                            <div class="twelve wide column">
                                <canvas id="myChart" width="400" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(function () {

            if (!$.cookie('tutorial')) {
                $('.tutorial').tutorial();
            }

            $('.dropdown').dropdown();
            $('.accordion').accordion();
            $('.message .close').on('click', function () {
                $(this).closest('.message').slideUp('fast');
            });

            $('.calendar-nav .item')
                .attr('data-position', "bottom center")
                .popup()
            ;

            var data = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.5)",
                        strokeColor: "rgba(220,220,220,0.8)",
                        highlightFill: "rgba(220,220,220,0.75)",
                        highlightStroke: "rgba(220,220,220,1)",
                        data: [65, 59, 80, 81, 56, 55, 40]
                    },
                    {
                        label: "My Second dataset",
                        fillColor: "rgba(151,187,205,0.5)",
                        strokeColor: "rgba(151,187,205,0.8)",
                        highlightFill: "rgba(151,187,205,0.75)",
                        highlightStroke: "rgba(151,187,205,1)",
                        data: [28, 48, 40, 19, 86, 27, 90]
                    }
                ]
            };
            var ctx = $("#myChart").get(0).getContext("2d");
            var myBarChart = new Chart(ctx).Bar(data);
        });
    </script>

{% endblock javascripts %}
