{% extends "::base.html.twig" %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="three wide column">
                <div class="ui segment ops tutorial" data-tutorial-step="1" data-tutorial-step-position="right center" data-tutorial-step-title="Step 1 - Add operation (method 1)" data-tutorial-step-content="Add new operations to your budget.">
                    <div class="ui accordion">
                        {% for category in calendar.getCategories %}
                            {% if category.isHidden != true %}
                        <div class="{% if category.isDefault %}active {% endif %}title"><i class="dropdown icon"></i> {{ category.name }}</div>
                        <div class="{% if category.isDefault %}active {% endif %}content">
                            <div class="ui list">
                                {% for operation in category.getOperations(category.id) %}
                                <div class="item">
                                    {% if operation.icon is not null %}
                                    <img class="ui icon image" src="{% path operation.icon, 'small' %}">
                                    {% endif %}
                                    <div class="content">
                                        <a class="header">{{ operation.name }}</a>
                                        <div class="description">{{ operation.description }}</div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="ui primary mini button"><i class="plus icon"></i> Add new operation</div>
                        </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="thirteen wide column">
                <div class="ui segment">
                    <div class="ui padded grid">
                        <div class="row">
                            <div class="sixteen wide center aligned column">
                                {% include 'AppBundle:Budget:calendar_nav.html.twig' %}'
                            </div>
                        </div>
                        <div class="row">
                            <div class="sixteen wide column">
                                <div class="ui grid calendar">
                                    <div class="seven column row equal height days-header">
                                        <div class="column">{{ 'Sun'|trans }}</div>
                                        <div class="column">{{ 'Mon'|trans }}</div>
                                        <div class="column">{{ 'Tue'|trans }}</div>
                                        <div class="column">{{ 'Wed'|trans }}</div>
                                        <div class="column">{{ 'Thu'|trans }}</div>
                                        <div class="column">{{ 'Fri'|trans }}</div>
                                        <div class="column">{{ 'Sat'|trans }}</div>
                                    </div>
                                    <div class="seven column week row equal height">
                                        {% set count = 0 %}
                                        {% for date, day in calendar.getData %}
                                            {#{ dump(day) }#}
                                            {% set isCurrentMonth = day.date.format('m') == calendar.getDate.format('m') %}
                                            {% set isWeekendDay = day.date.format('w') == 0 or day.date.format('w') == 6 %}
                                            {% set isToday = day.date.format('Y-m-d') == calendar.getToday.format('Y-m-d') %}
                                            {% set isFirstDay = day.date.format('j') == 1 %}
                                            {% if count % 7 == 0 %}
                                            </div>
                                            <div class="seven column week row equal height">
                                            {% endif %}
                                            <div class="column day 
                                                 {% if isCurrentMonth %} current-month{% else %}other-month{% endif %}
                                                 {% if isWeekendDay %} weekend-day{% endif %} 
                                                 {% if isToday %} current-day{% endif %}
                                                 {% if isFirstDay %} first-day{% endif %}
                                                 ">
                                                {% if isCurrentMonth %}
                                                    <div class="options">
                                                        <div class="ui icon mini button {% if isFirstDay %}tutorial{% endif %}" {% if isFirstDay %}data-tutorial-step="2" data-tutorial-step-position="right center" data-tutorial-step-title="Step 1 - Add operation (method 2)" data-tutorial-step-content="You can also add operations for a specific day directly here."{% endif %}><i class="plus icon"></i></div>
                                                        <div class="ui icon mini button"><i class="line chart icon"></i></div>
                                                    </div>
                                                {% endif %}
                                                <div class="date">{{ day.date.format('j') }}</div>
                                                {% if day.operations|length > 0 or isToday %}
                                                    <div class="operations">
                                                        <div class="ui list">
                                                            {% for operation in day.operations %}
                                                            <div class="item">
                                                                {% if operation.icon is not null %}
                                                                <img class="ui icon image" src="{% path operation.icon, 'small' %}">
                                                                {% endif %}
                                                                <div class="content">
                                                                    <a class="header">{{ operation.name }}</a>
                                                                    <div class="description">{{ operation.amount|localizedcurrency(app.user.currency) }}</div>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            {% set count = count + 1 %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="four wide column">
                                <table class="ui striped table">
                                    <thead>
                                        <tr>
                                            <th>June 2015</th>
                                            <th class="right aligned"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="center aligned">
                                            <td>Starting balance</td>
                                            <td class="right aligned {% if calendar.getPreviousBalance < 0 %}negative{% endif %}{% if calendar.getPreviousBalance > 0 %}positive{% endif %}">{{ calendar.getPreviousBalance|localizedcurrency(app.user.currency) }}</td>
                                        </tr>
                                        <tr>
                                            <td>Closing balance</td>
                                            <td class="right aligned {% if calendar.getClosingBalance < 0 %}negative{% endif %}{% if calendar.getClosingBalance > 0 %}positive{% endif %}">{{ calendar.getClosingBalance|localizedcurrency(app.user.currency) }}</td>
                                        </tr>
                                        <tr>
                                            <td>Balance variation</td>
                                            {% set balanceVariation = calendar.getClosingBalance - calendar.getPreviousBalance %}
                                            <td class="right aligned {% if balanceVariation < 0 %}negative{% endif %}{% if balanceVariation > 0 %}positive{% endif %}">{{ balanceVariation|localizedcurrency(app.user.currency) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <div class="ui primary mini button">Adjust closing balance</div>
                                </div>
                            </div>
                            <div class="twelve wide column">
                                <canvas id="myChart" style="width: 100%; height: 200px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(function () {
            if (!$.cookie('tutorial')) {
                $('.tutorial').tutorial();
            }

            $('.dropdown').dropdown();
            $('.accordion').accordion();
            $('.message .close').on('click', function () {
                $(this).closest('.message').slideUp('fast');
            });

            $('.calendar-nav .item')
                .attr('data-position', "bottom center")
                .popup()
            ;

            {% set calendarChartData = calendar.getChart %}
            var data = {
                scaleBeginAtZero: false,
                labels: {{ calendarChartData.labels|json_encode()|raw }},
                datasets: [
                    {
                        //label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.5)",
                        strokeColor: "rgba(220,220,220,0.8)",
                        highlightFill: "rgba(220,220,220,0.75)",
                        highlightStroke: "rgba(220,220,220,1)",
                        data: {{ calendarChartData.values|json_encode()|raw }}
                    }
                ]
            };
            var ctx = $("#myChart").get(0).getContext("2d");
            var myBarChart = new Chart(ctx).Bar(data);
        });
    </script>

{% endblock javascripts %}
